{{ with .Get "path" }}
  {{- with $r := $.Page.Resources.Get ($.Get "path") }}
    {{- with $.Get "width" }}
      {{- with $r.Process (printf "resize %dx wepb" ($.Get "width" )) }}
        {{- $alt := or ($.Get "alt") "" }}
        <style>
          .right {
            float: right;
            max-width: 40%;
            margin-left: 5px;
          }
          
          .left {
            float: left;
            max-width: 40%;
            margin-right: 20px;
          }
          
          .center {
            display: block;
            margin: auto;
            text-align: center;
          }
        </style>
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}" class="right">
      {{- end }}
    {{- else }}
      {{- errorf "The %q shortcode requires a 'width' argument: see %s" $.Name $.Position }}
    {{- end }}
  {{- else }}
    {{ warnf "The %q shortcode was unable to find %s: see %s" $.Name ($.Get "path") $.Position }}
  {{- end }}
{{- else }}
  {{ errorf "The %q shortcode requires a 'path' argument: see %s" .Name .Position }}
{{- end -}}